

.Model {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header, .inner-header
{
  padding: 20px 0px;
  background: #a24097;
  margin-bottom: 1em;
}

.header h2, .inner-header h2
{
    font-size: 22px;
    color:#fff;
    font-weight: 500;
    text-transform: uppercase;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h5.qn-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#display-error
{
  display: none;
}

/*video, canvas 
{
    transform: rotateY(180deg);
}*/

#tab .nav
{
      display: block;
}

#tab
{
  margin: 0em;
}

.tab-row
{
  margin: 3em 0;
}

.or
{
  margin-top: 0.5em;
  font-size: 16px;
}


.back-btn
{
  margin: 2em 0;
  padding: .375rem 2rem;
}

.back-btn .btn-secondary
{
  margin: 0 1em;
}

#show-more
{
  margin: 1em 0;
}

.error-message
{
 font-size: 16px;
  margin: 5px 0px; 
}

#error-message-update p
{
  font-size: 16px;
}

#years
{
  text-align-last: center;
    text-align: center;
    text-transform: uppercase;
}

#bmiselect
{
  text-align-last: center;
    text-align: center;
    text-transform: uppercase;
}

.display-img
{
  display: inline-block;
    position: relative;
    max-height: 250px;
    max-width: 100%;
    margin-top: 1em;
}

.display-img-url
{
    display: inline-block;
    position: relative;
    max-height: 250px;
    max-width: 100%;
    margin-top: 1em;
}


.fileContainer {
    overflow: hidden;
    position: relative;
    
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}



.fileContainer 
{
    padding: 0.59em 0.943em;
      background: #6c757d;
      border: 1px solid #6c757d;
      color:#fff;
      font-size: 16px;
       margin-top: 8px;
}

.fileContainer [type=file] {
    cursor: pointer;
}

#ethnicSelect
{
  text-align-last: center;
  text-align: center;
  text-transform: uppercase;
}


.face-rectangle {
            position: absolute;
            border: solid 3px;
            z-index: 99;
        }

        .content .label{
            display: inline-block !important;
            margin-right: 5px;

        }

        .face-rectangle .face-info {
            /*visibility: hidden;*/
            width: 100%;
            background-color:rgba(56, 54, 54, 0.71);
            color: #fff;
            text-align: center;
            padding: 0px;
            position: absolute;
            z-index: 100;
            top: -35px;
            right: 0;
            font-size: 12px;
             height: 30px;
        }

        .face-rectangle .face-info th {
            text-align: left;
            font-weight: 600;
             padding: 0px 5px;

        }

          .face-rectangle .face-info td {
            padding: 0px 5px;
          }

        .face-rectangle .face-info td {
            text-align: right;
        }

        .face-rectangle .face-info:after {
           /* content: "";
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent transparent gray;*/
        }

        .face-rectangle:hover {
            z-index: 100;
        }

        .face-rectangle:hover .face-info {
            visibility: visible;
        }

        .face-rectangle:active .face-info {
            visibility: visible;
        }

        .face-rectangle-m {
            border:2px solid rgba(251, 251, 251, 0.71);
           -moz-box-shadow:     0 0 10px #f3f3f3;
           -webkit-box-shadow:  0 0 10px #f3f3f3;
            box-shadow:         0 0 10px #f3f3f3;
            border-radius: 5px;
        }

        .face-rectangle-f {
            border:2px solid rgba(251, 251, 251, 0.71);
           -moz-box-shadow:     0 0 6px #f3f3f3;
           -webkit-box-shadow:  0 0 6px #f3f3f3;
            box-shadow:         0 0 6px #f3f3f3;
            border-radius: 5px;
        }

        .face-rectangle-emo {
            border-color: #00abec;
        }

@media (max-width:768px) 
 {

 #tab .col 
 {
-webkit-flex-basis: auto;
flex-basis: auto;
  }

  .tab-row
{
  margin: 1em 0 0;
}

}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
